/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.DS_Store
diff.txt
summary.txt
__pycache__
.venv
gemini_ai_summary.txt
open_ai_summary.txt
